# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Set up R
      run: |
        sudo apt-get update
        sudo apt-get -y install r-base
        sudo locale-gen "en_US.UTF-8"
        sudo bash -c 'echo "LANG=en_US.UTF-8" > /etc/default/locale'
        echo "LANG=en_US.UTF-8" >> $GITHUB_ENV
    - name: Build with Maven
      run: cd RCaller && mvn test
